gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
# Ignore the Python environment folder
env/
venv/
.env

# Ignore JSON credential files
*.json

# Ignore local database backups and models
*.csv
*.pth